@use "../abstracts/variables" as *;
.articles {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .card {
      flex-basis: 250px;
      border-radius: $r10;
      box-shadow: $shadow-1;
      overflow: hidden;
      transition: $transition;
      &:hover {
        transform: translateY(-$spacer10);
      }
      img {
        max-height: 200px;
      }
      &-title {
        margin-bottom: $spacer10;
      }
      &-body {
        padding: $spacer20;
      }

      &-footer {
        padding-inline: 0;
        a {
          padding: $spacer10 $spacer20;
          border-radius: $r5;
          text-transform: capitalize;
          font-weight: $fw-semibold;
          @include flex-between();
          color: $main-clr;
          &:hover {
            background-color: lighten($color: $main-clr-alt, $amount: 45%);
          }
        }
      }
    }
  }
}
